Importamos librerias

In [1]:
import pyRofex as pyRofex
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as datetime

# Import Data

## Log in

Hacemos el Login para poder traer datos de la API de Rofex

In [2]:
pyRofex.initialize(user="luciomassimi3968",
                   password="feulrX6%",
                   account="REM3968",
                   environment=pyRofex.Environment.REMARKET)

## Spot

Seteamos los parametros para traer datos del spot.

In [3]:
tickers_spot = ['GGAL.BA','PAMP.BA','YPFD.BA','ARS=X']

start = datetime.datetime(2022,1,1) # Starting date in format (year,month,day)
end = datetime.datetime.today() # Ending date

In [4]:
# spot_df = pd.DataFrame()
# for ticker in tickers_spot:
#     """
#     This will make a dataframe with the "Close" of each of our stocks
#     """
#     spot_df[ticker] = yf.Ticker(ticker).history(start=end,end=end)['Close']

# spot_df.columns =['GGAL','PAMP','YPFD','DLR']
# spot_df.tail()

In [5]:
spot_df = pd.DataFrame()
for ticker in tickers_spot:
    """
    This will make a dataframe with the "Close" of each of our stocks
    """
    spot_df[ticker] = yf.Ticker(ticker).history(start=start,end=end)['Close']

spot_df.columns =['GGAL','PAMP','YPFD','DLR']
spot_df.tail()

                  GGAL        PAMP        YPFD         DLR
Date
2022-01-19  191.050003  160.149994  866.299988  104.122375
2022-01-20  195.699997  164.850006  877.349976  104.201080
2022-01-21  189.399994  166.250000  851.650024  104.261841
2022-01-24  181.550003  163.800003  826.200012  104.350235
2022-01-25  196.000000  173.500000  886.750000  104.610001

In [6]:
# spot.T.iloc[:,-1]

In [7]:
spot_last= spot_df.iloc[-1]
spot_last

GGAL    196.000000
PAMP    173.500000
YPFD    886.750000
DLR     104.610001
Name: 2022-01-25 00:00:00, dtype: float64

## Futures

### Import GGAL, PAMP, YFD, DLR/FUT

Seteamos los tickers de los activos que queremos traer, en este caso traemos los futuros de GGAL, PAMP, YFD, y todos los futuros DLR/FUT de 2022

In [8]:
futuros_dolar=['DLR/ENE22','DLR/FEB22','DLR/MAR22','DLR/ABR22','DLR/MAY22','DLR/JUN22','DLR/JUL22','DLR/AGO22','DLR/SEP22','DLR/OCT22','DLR/NOV22']#,'DLR/DIC22']
futuro_ggal=['GGAL/FEB22']
futuro_pamp=['PAMP/FEB22']
futuro_ypfd=['YPFD/FEB22']

tickers= futuros_dolar  + futuro_pamp + futuro_ypfd + futuro_ggal
depth=5

Usamos la funcion 'get_market_data' para traer la data de la rest API de rofex, y la almacenamos en un diccionario para luego poder extraer los datos que necesitemos

In [9]:
resp_dict = {}

for instrument in tickers:
    resp_dict[f"{instrument}"] = pyRofex.get_market_data(ticker = instrument, depth = depth)
    
resp_dict

{'DLR/ENE22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 103485, 'date': 1630195200000},
   'NV': 20019000,
   'IV': None,
   'OP': 105.2,
   'LO': 105.1,
   'LA': {'price': 106.41, 'size': 999, 'date': 1643134368403},
   'HI': 106.59,
   'SE': {'price': 116.0, 'size': None, 'date': 1630281600000},
   'EV': 2116488710.0,
   'BI': [{'price': 105.14, 'size': 3534},
    {'price': 104.99, 'size': 2534},
    {'price': 104.74, 'size': 3534},
    {'price': 104.42, 'size': 2184},
    {'price': 103.98, 'size': 3534}],
   'CL': {'price': 105.2, 'size': None, 'date': 1642982400000},
   'TV': 20019.0,
   'OF': []},
  'depth': 5,
  'aggregated': True},
 'DLR/FEB22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 74681, 'date': 1630195200000},
   'NV': 63000,
   'IV': None,
   'OP': 108.2,
   'LO': 108.2,
   'LA': {'price': 108.68, 'size': 11, 'date': 1643133487719},
   'HI': 108.73,
   'SE': {'price': 120.4, 'size': None, 'date': 1630281600000},
   'EV': 6845440.0,
   'BI': [{'price': 108.68, 'size': 30},
    {'price': 108.63, 'size': 77},
    {'price': 108.28, 'size': 100},
    {'price': 108.26, 'size': 1},
    {'price': 108.2, 'size': 99}],
   'CL': {'price': 108.7, 'size': None, 'date': 1642982400000},
   'TV': 63.0,
   'OF': [{'price': 108.71, 'size': 2000},
    {'price': 109.03, 'size': 2000},
    {'price': 109.54, 'size': 2000},
    {'price': 109.92, 'size': 3000}]},
  'depth': 5,
  'aggregated': True},
 'DLR/MAR22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 26644, 'date': 1630281600000},
   'NV': 24000,
   'IV': None,
   'OP': 113.95,
   'LO': 113.95,
   'LA': {'price': 114.3, 'size': 1, 'date': 1643139168737},
   'HI': 114.3,
   'SE': {'price': 125.45, 'size': None, 'date': 1630368000000},
   'EV': 2738290.0,
   'BI': [{'price': 114.17, 'size': 6},
    {'price': 114.14, 'size': 200},
    {'price': 114.01, 'size': 500},
    {'price': 113.95, 'size': 4},
    {'price': 113.76, 'size': 200}],
   'CL': {'price': 114.08, 'size': None, 'date': 1642982400000},
   'TV': 24,
   'OF': [{'price': 114.71, 'size': 200},
    {'price': 115.01, 'size': 201},
    {'price': 115.27, 'size': 1}]},
  'depth': 5,
  'aggregated': True},
 'DLR/ABR22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 21568, 'date': 1630195200000},
   'NV': 90000,
   'IV': None,
   'OP': 117.0,
   'LO': 117.0,
   'LA': {'price': 118.87, 'size': 3, 'date': 1643130704677},
   'HI': 119.04,
   'SE': {'price': 129.75, 'size': None, 'date': 1630281600000},
   'EV': 10699050.0,
   'BI': [{'price': 118.85, 'size': 565},
    {'price': 118.5, 'size': 565},
    {'price': 118.12, 'size': 615},
    {'price': 117.98, 'size': 565},
    {'price': 117.56, 'size': 115}],
   'CL': {'price': 118.7, 'size': None, 'date': 1642982400000},
   'TV': 90.0,
   'OF': [{'price': 118.89, 'size': 50},
    {'price': 119.25, 'size': 500},
    {'price': 119.72, 'size': 50},
    {'price': 120.05, 'size': 100},
    {'price': 120.16, 'size': 50}]},
  'depth': 5,
  'aggregated': True},
 'DLR/MAY22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 9243, 'date': 1630195200000},
   'NV': 32000,
   'IV': None,
   'OP': 124.2,
   'LO': 123.95,
   'LA': {'price': 123.95, 'size': 6, 'date': 1643133288617},
   'HI': 124.2,
   'SE': {'price': 134.0, 'size': None, 'date': 1630281600000},
   'EV': 3970000.0,
   'BI': [{'price': 124.0, 'size': 100},
    {'price': 123.76, 'size': 60},
    {'price': 123.01, 'size': 100},
    {'price': 122.83, 'size': 100},
    {'price': 122.37, 'size': 60}],
   'CL': {'price': 124.0, 'size': None, 'date': 1642982400000},
   'TV': 32,
   'OF': [{'price': 124.05, 'size': 70},
    {'price': 125.38, 'size': 100},
    {'price': 125.51, 'size': 100},
    {'price': 125.59, 'size': 100},
    {'price': 125.94, 'size': 50}]},
  'depth': 5,
  'aggregated': True},
 'DLR/JUN22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 6697, 'date': 1630281600000},
   'NV': 6000,
   'IV': None,
   'OP': 129.25,
   'LO': 128.99,
   'LA': {'price': 128.99, 'size': 3, 'date': 1643133214722},
   'HI': 129.25,
   'SE': {'price': 137.85, 'size': None, 'date': 1630368000000},
   'EV': 774670.0,
   'BI': [{'price': 128.4, 'size': 2},
    {'price': 128.29, 'size': 2},
    {'price': 127.68, 'size': 2},
    {'price': 127.59, 'size': 100},
    {'price': 126.72, 'size': 2}],
   'CL': {'price': 128.5, 'size': None, 'date': 1642982400000},
   'TV': 6.0,
   'OF': [{'price': 128.98, 'size': 250},
    {'price': 130.2, 'size': 250},
    {'price': 130.23, 'size': 250},
    {'price': 130.73, 'size': 250},
    {'price': 131.16, 'size': 100}]},
  'depth': 5,
  'aggregated': True},
 'DLR/JUL22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 2632, 'date': 1630281600000},
   'NV': 10000,
   'IV': None,
   'OP': 130.0,
   'LO': 130.0,
   'LA': {'price': 130.0, 'size': 10.0, 'date': 1643115546426},
   'HI': 130.0,
   'SE': {'price': 142.0, 'size': None, 'date': 1630368000000},
   'EV': 1300000.0,
   'BI': [{'price': 133.3, 'size': 200},
    {'price': 132.76, 'size': 200},
    {'price': 132.52, 'size': 200},
    {'price': 131.95, 'size': 10}],
   'CL': {'price': 133.0, 'size': None, 'date': 1642982400000},
   'TV': 10.0,
   'OF': [{'price': 133.7, 'size': 200},
    {'price': 135.19, 'size': 100},
    {'price': 135.61, 'size': 200}]},
  'depth': 5,
  'aggregated': True},
 'DLR/AGO22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 20000,
   'IV': None,
   'OP': 138.5,
   'LO': 138.5,
   'LA': {'price': 138.96, 'size': 10, 'date': 1643133611896},
   'HI': 138.96,
   'SE': None,
   'EV': 2774600.0,
   'BI': [{'price': 138.6, 'size': 20},
    {'price': 137.67, 'size': 20},
    {'price': 137.02, 'size': 20},
    {'price': 136.97, 'size': 100}],
   'CL': {'price': 138.3, 'size': None, 'date': 1642982400000},
   'TV': 20,
   'OF': [{'price': 139.09, 'size': 10},
    {'price': 139.15, 'size': 100},
    {'price': 139.3, 'size': 100},
    {'price': 139.35, 'size': 100}]},
  'depth': 5,
  'aggregated': True},
 'DLR/SEP22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 0,
   'IV': None,
   'OP': None,
   'LO': None,
   'LA': None,
   'HI': None,
   'SE': None,
   'EV': 0.0,
   'BI': [{'price': 143.0, 'size': 25}],
   'CL': {'price': 144.64, 'size': None, 'date': 1642982400000},
   'TV': 0,
   'OF': [{'price': 144.0, 'size': 25},
    {'price': 145.79, 'size': 2},
    {'price': 146.12, 'size': 25}]},
  'depth': 5,
  'aggregated': True},
 'DLR/OCT22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 7000,
   'IV': None,
   'OP': 147.7,
   'LO': 147.7,
   'LA': {'price': 147.7, 'size': 7, 'date': 1643135590543},
   'HI': 147.7,
   'SE': None,
   'EV': 1033900.0,
   'BI': [{'price': 147.7, 'size': 343},
    {'price': 147.4, 'size': 350},
    {'price': 147.37, 'size': 350},
    {'price': 147.3, 'size': 350}],
   'CL': {'price': 144.0, 'size': None, 'date': 1642982400000},
   'TV': 7,
   'OF': [{'price': 148.77, 'size': 5}]},
  'depth': 5,
  'aggregated': True},
 'DLR/NOV22': {'status': 'OK',
  'marketData': {'OI': {'price': None, 'size': 4, 'date': None},
   'NV': 0,
   'IV': None,
   'OP': None,
   'LO': None,
   'LA': None,
   'HI': None,
   'SE': {'price': 151.5, 'size': None, 'date': None},
   'EV': 0.0,
   'BI': [{'price': 152.5, 'size': 79},
    {'price': 151.31, 'size': 79},
    {'price': 150.95, 'size': 79},
    {'price': 150.84, 'size': 79},
    {'price': 150.57, 'size': 79}],
   'CL': None,
   'TV': 0,
   'OF': [{'price': 153.0, 'size': 210},
    {'price': 153.92, 'size': 210},
    {'price': 154.23, 'size': 210},
    {'price': 154.34, 'size': 210}]},
  'depth': 5,
  'aggregated': True},
 'PAMP/FEB22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 18500,
   'IV': None,
   'OP': 171.0,
   'LO': 167.9,
   'LA': {'price': 175.5, 'size': 3, 'date': 1643138839611},
   'HI': 176.8,
   'SE': None,
   'EV': 3198400.0,
   'BI': [{'price': 175.45, 'size': 5},
    {'price': 174.45, 'size': 5},
    {'price': 174.15, 'size': 5},
    {'price': 173.1, 'size': 5},
    {'price': 173.05, 'size': 5}],
   'CL': {'price': 169.75, 'size': None, 'date': 1642982400000},
   'TV': 185,
   'OF': [{'price': 176.0, 'size': 5},
    {'price': 176.2, 'size': 5},
    {'price': 176.75, 'size': 5}]},
  'depth': 5,
  'aggregated': True},
 'YPFD/FEB22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 3000,
   'IV': None,
   'OP': 902.4,
   'LO': 902.4,
   'LA': {'price': 905.0, 'size': 2, 'date': 1643135677203},
   'HI': 907.5,
   'SE': None,
   'EV': 2717820.0,
   'BI': [{'price': 905.0, 'size': 22}, {'price': 900.05, 'size': 28}],
   'CL': {'price': 900.0, 'size': None, 'date': 1642982400000},
   'TV': 30,
   'OF': [{'price': 905.25, 'size': 1},
    {'price': 910.3, 'size': 2},
    {'price': 911.55, 'size': 3},
    {'price': 917.5, 'size': 1}]},
  'depth': 5,
  'aggregated': True},
 'GGAL/FEB22': {'status': 'OK',
  'marketData': {'OI': None,
   'NV': 0,
   'IV': None,
   'OP': None,
   'LO': None,
   'LA': None,
   'HI': None,
   'SE': None,
   'EV': 0.0,
   'BI': None,
   'CL': None,
   'TV': 0,
   'OF': None},
  'depth': 5,
  'aggregated': True}}

### BID - OFFER per instrument

Del diccionario de datos que creamos a partir del query, extraemos los precios del BID y OFFER de los distintos activos. A veces como la liquidez es muy limitada, no hay puntas en el BID ni en el OFFER. Por esto tambien agregue un nested "try - Except" por si es totalmente necesario traer algun dato. Esto a la hora de tradear o correr el bot no deberia hacerse, y solo se deberian tomar los datos de BID y OFFER. En este caso lo hago para que se vean mas datos cuando se corre la notebook.

In [10]:
# #BID
# bid={}
# for instrument in tickers:
#     try:
#         bid[instrument] = resp_dict[instrument]['marketData']['BI'][0]['price']
#     except:
#         print(f"{instrument} has no BID")
#         bid[instrument] = np.nan

# bid

In [11]:
#BID
bid={}
for instrument in tickers:
    #Trato de traer los valores del precio
    try:
        bid[instrument] = resp_dict[instrument]['marketData']['BI'][0]['price']
    
    #si no trae valores de precio y necesito probar algo de las funciones que siguen, puedo tratar de importar los
    #datos del cierre o del ultimo precio
    except:
#         try:
#             print(f"{instrument} has no BID")
#             bid[instrument] = resp_dict[instrument]['marketData']['LA'][0]['price']
            
#         except:
#             try:
#                 bid[instrument] = resp_dict[instrument]['marketData']['CL']['price']
        
#             except:
                print(f"{instrument} has no BID")
                bid[instrument] = np.nan

bid

GGAL/FEB22 has no BID

{'DLR/ENE22': 105.14,
 'DLR/FEB22': 108.68,
 'DLR/MAR22': 114.17,
 'DLR/ABR22': 118.85,
 'DLR/MAY22': 124.0,
 'DLR/JUN22': 128.4,
 'DLR/JUL22': 133.3,
 'DLR/AGO22': 138.6,
 'DLR/SEP22': 143.0,
 'DLR/OCT22': 147.7,
 'DLR/NOV22': 152.5,
 'PAMP/FEB22': 175.45,
 'YPFD/FEB22': 905.0,
 'GGAL/FEB22': nan}

In [12]:
# #OFFER
# offer={}
# for instrument in tickers:
#     try:
#         offer[instrument] = resp_dict[instrument]['marketData']['OF'][0]['price']
#     except:
#         print(f"{instrument} has no OFFER")
#         offer[instrument] = np.nan

# offer

In [13]:
#OFFER
offer={}
for instrument in tickers:
    #Trato de traer los valores del precio
    
    try:
        offer[instrument] = resp_dict[instrument]['marketData']['OF'][0]['price']
        
    except:
        
        #si no trae valores de precio y necesito probar algo de las funciones que siguen, puedo tratar de importar los
        #datos del cierre o del ultimo precio
#         try:
#             print(f"{instrument} has no OFFER")
#             offer[instrument] = resp_dict[instrument]['marketData']['LA'][0]['price']
            
#         except:
#             try:
#                 offer[instrument] = resp_dict[instrument]['marketData']['CL']['price']
        
#             except:
                print(f"{instrument} has no OFFER")
                offer[instrument] = np.nan

offer

DLR/ENE22 has no OFFER
GGAL/FEB22 has no OFFER

{'DLR/ENE22': nan,
 'DLR/FEB22': 108.71,
 'DLR/MAR22': 114.71,
 'DLR/ABR22': 118.89,
 'DLR/MAY22': 124.05,
 'DLR/JUN22': 128.98,
 'DLR/JUL22': 133.7,
 'DLR/AGO22': 139.09,
 'DLR/SEP22': 144.0,
 'DLR/OCT22': 148.77,
 'DLR/NOV22': 153.0,
 'PAMP/FEB22': 176.0,
 'YPFD/FEB22': 905.25,
 'GGAL/FEB22': nan}

Creo el dataframe con los valores de BID y OFFER para cada uno de los activos que pido

In [14]:
fut = pd.DataFrame({"bid":bid,"offer":offer})
fut

               bid   offer
DLR/ENE22   105.14     NaN
DLR/FEB22   108.68  108.71
DLR/MAR22   114.17  114.71
DLR/ABR22   118.85  118.89
DLR/MAY22   124.00  124.05
DLR/JUN22   128.40  128.98
DLR/JUL22   133.30  133.70
DLR/AGO22   138.60  139.09
DLR/SEP22   143.00  144.00
DLR/OCT22   147.70  148.77
DLR/NOV22   152.50  153.00
PAMP/FEB22  175.45  176.00
YPFD/FEB22  905.00  905.25
GGAL/FEB22     NaN     NaN

Si es necesario, se puede agregar la comision de compra y venta para el futuro para saber cuales serian las tasas reales en caso de operar
(lo mismo se deberia hacer para el spot)

In [15]:
#comision
# comision = .005

# fut['offer']=fut['offer']*(1+comision)
# fut['bid']=fut['bid']*(1-comision)
# fut

# Modify Data

## Defining functions:

### Tasas

Creamos distintas funciones para obtener la tasa. La tasa va a variar dependiendo si usamos tasa de compounding continuo(que es lo que se suele usar en derivados), si se calcula TNA, TEA, etc. Para esto se crea una funcion que engloba a todas las otras funciones, y cambiando la variable "TIPO" vamos a poder elegir entre una u otra. Tambien se puede seleccionar el input temporal como dia o mes de ser necesario

In [16]:
spot_v=100
future_v=105
dias=30
mes=1

Tasa de compounding continuo, gralmente usada para derivados.

In [17]:
def tasa_continua_mes(spot,future,t=1):
    tasa=np.log(future/spot) / (t/12)
    return(tasa)

tasa_continua_mes(spot_v,future_v,mes)

0.5854819700331846

In [18]:
def tasa_continua_dias(spot,future,t=30):
    tasa=np.log(future/spot) / (t/365)
    return(tasa)

tasa_continua_dias(spot_v,future_v,dias)

0.5936136640614232

Tasa Nocional Anual, el equivalente seria la tasa que se ve en los plazo fijos

In [19]:
def tasa_tna_mes(spot,future,t=1):
    tasa=((future/spot)-1)*(12/t)
    return(tasa)

tasa_tna_mes(spot_v,future_v,mes)

0.6000000000000005

In [20]:
def tasa_tna_dias(spot,future,t=30):
    tasa=((future/spot)-1)*(365/t)
    return(tasa)

tasa_tna_dias(spot_v,future_v,dias)

0.6083333333333338

Tasa Efectiva Anual, es la tasa 'REAL' que estariamos percibiendo en el ano. La diferencia con la nocional, es que la nocional no toma en cuenta el compounding y en esta si se tiene en cuenta. 
Por ej, si ponemos un plazo fijo con TNA 30% a un ano, 100>130. Pero si en vez de ponerla a un ano se pone a la misma tasa TNA 30% pero cada mes, al final del ano se va a tener >130 ya que cada mes se va a tener un poco de retorno y ese retorno tambien se va a colocar. Por eso la TEA > TNA

In [21]:
def tasa_tea_mes(spot,future,t=30):
    tasa=((future/spot)**(12/t))-1
    return(tasa)

tasa_tea_mes(spot_v,future_v,mes)

0.7958563260221301

In [22]:
def tasa_tea_dias(spot,future,t=30):
    tasa=((future/spot)**(365/t))-1
    return(tasa)

tasa_tea_dias(spot_v,future_v,dias)

0.8105192164554333

La tasa directa es el % real sin anualizar

In [23]:
def tasa_directa(spot,future):
    tasa=(future/spot)-1
    return(tasa)

tasa_directa(spot_v,future_v)

0.050000000000000044

In [24]:
spot_v, future_v

(100, 105)

Esta funcion toma todas las otras funciones calculadoras de tasa y las junta en una sola para que sea mas simple seleccionar la tasa que se quiere usar. En vez de cambiar todas las funciones, se puede poner una variable como 'tipo' antes de correr las funciones y seleccionar el tipo de tasa que se quiere usar de esa manera. Cumpliria la funcion de 'switch'

In [25]:
# def tipo_tasa(tipo,period,spot,future,t=1):
    
#     if tipo.lower()== "continua":
        
#         if period.lower()=="mes":
#             return(tasa_continua_mes(spot,future,t))
        
#         elif period.lower()=="dias":
#             return(tasa_continua_dias(spot,future,t))
        
#         else:
#             print("Options: mes, dias")
            
            
#     elif tipo.lower()== "tna":
        
#         if period.lower()=="mes":
#             return(tasa_tna_mes(spot,future,t))
        
#         elif period.lower()=="dias":
#             return(tasa_tna_dias(spot,future,t))
        
#         else:
#             print("Options: mes, dias")
        
        
#     elif tipo.lower()== "tea":
        
#         if period.lower()=="mes":
#             return(tasa_tea_mes(spot,future,t))
        
#         elif period.lower()=="dias":
#             return(tasa_tea_dias(spot,future,t))
        
#         else:
#             print("Options: mes, dias")

In [26]:
def tipo_tasa(spot,future,t=30,tipo="continua",period="dias"):
    
    if tipo.lower()== "continua":
        
        if period.lower()=="mes":
            return(tasa_continua_mes(spot,future,t))
        
        elif period.lower()=="dias":
            return(tasa_continua_dias(spot,future,t))
        
        else:
            print("Options: mes, dias")
            
            
    elif tipo.lower()== "tna":
        
        if period.lower()=="mes":
            return(tasa_tna_mes(spot,future,t))
        
        elif period.lower()=="dias":
            return(tasa_tna_dias(spot,future,t))
        
        else:
            print("Options: mes, dias")
        
        
    elif tipo.lower()== "tea":
        
        if period.lower()=="mes":
            return(tasa_tea_mes(spot,future,t))
        
        elif period.lower()=="dias":
            return(tasa_tea_dias(spot,future,t))
        
        else:
            print("Options: mes, dias")
            
    elif tipo.lower()== 'directa':
        return(tasa_directa(spot,future))
    
    else:
        return("Error")

In [27]:
spot_v=104.261841
future_v=105.28
dias=10
mes=(10/30)

tipo_tasa(spot_v,future_v)

0.11823603914081394

In [28]:
spot_v=104.261841
future_v=105.28
dias=10
mes=(10/30)

tipo_tasa(spot=spot_v,
          future=future_v,
          t=dias,
          tipo='directa',
          period='dias')

0.00976540400816428

### Days until settlement

Es importante tener en cuenta que al calcular las tasas de manera diaria se tienen que usar los dias exactos desde que se hace la transaccion hasta el dia del settlement. Generalmente el settlement se da el ultimo dia habil del mes de vencimiento de futuro, pero esto no siempre va a coincidir con el ultimo dia real del mes. Es por esto que tener una funcion que calcula los dias exactos hasta el ultimo dia habil del mes o settlement, es muy importante porque con este input se puede calcular la tasa correcta.

In [29]:
import calendar
from datetime import date

#Calculo el ultimo dia habil del mes, teniendo ano y mes como input.
#De la ultima semana del mes, toma el maximo dia de entre 0:5(lun-vier)
def last_business_day_in_month(year: int, month: int):
    return(date(year,month,max(calendar.monthcalendar(year, month)[-1:][0][:5])))

#Calculo el ultimo dia habil del mes, tomamos la ecuacion anterior
def days_until_last_business_day(year:int,month:int):
    
    delta = last_business_day_in_month(year,month) - date.today()
    return(delta.days)   

days_until_last_business_day(2022,2)

34

###  Bid - Offer Rates

Tomo las funciones creadas anteriormente para calcular las tasas tomadoras y colocadoras usando los datos del spot y futuros importados

In [30]:
#Final DataFrame
tasas_anuales_bid_offer =pd.DataFrame(columns=['bid','offer'])


#List variables
month_list= ['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
activo_tipo_list = ['DLR', 'GGAL','PAMP','YPFD']
activo_ano_list = ['22','23']
ano_list=[2022,2023]


# Function variables> elijo el tipo de tasa que se va a calcular
tipo='continua'
period='dias'


## Itero con las columnas'bid' y 'offer' del dataframe final
for column in tasas_anuales_bid_offer:
    ind=0
#     print("\n",column,"\n")
    
    ## Itero y tomo cada dato de 'bid' y 'offer', se usan los datos de los precios de los futuros
    for data in fut[column]:
#         print(f"data {data}")
        
        ## Itero para saber a que ano pertenece el futuro
        for ano_activo in activo_ano_list:
            
            ## Corroboro si el ano esta en el indice del precio a traer, y seteo el ano correspondiente
            ## para usar en la formula que calcula los dias hasta el settlement
            if ano_activo in fut[column].index[ind]:
                year=ano_list[activo_ano_list.index(ano_activo)]

#                 print(fut[column].index[ind])
                
                ## Corroboro el tipo de activo de donde viene la data, DLR,GGAL,PAMP o YPFD
                for tipo_activo in activo_tipo_list:

                    if tipo_activo in fut[column].index[ind]:
                        
                        ## Establezco el mes correspondiente a la data
                        for mes in month_list:


                            if mes in fut[column].index[ind].lower():
#                                 print(f"Mes: {mes}")

                                ## Teniendo el el precio del futuro,el ano y mes de settlement, y el tipo de activo 
                                ## del que quiero calcular la tasa, puedo traer el valor del spot, calcular los dias
                                ## hasta el settlement y calcular la tasa
            
                                #dataframe
                                index= fut[column].index[ind]
                                column= column

                                #function
                                spot= spot_df.iloc[-1][tipo_activo]
                                future= data
                                month = month_list.index(mes)+1


                                #output
                                tasas_anuales_bid_offer.loc[index,column] = round(tipo_tasa(spot=spot,
                                                                                      future=future,
                                                                                      t=days_until_last_business_day(year,month),
                                                                                      tipo=tipo,
                                                                                      period=period),6)
#                                 print(f"Tipo Activo: {tipo_activo}")
#                                 print(f"Spot: {spot}")
#                                 print(f"Future: {future}")
#                                 print(f"Year: {year}")
#                                 print(f"Month count: {month}")
#                                 print(f"Dias faltan: {days_until_last_business_day(year,month)}")
#                                 print(f"Tipo: {tipo}")
#                                 print(f"Periodo: {period}")
#                                 print(f"Tasa: {tasas_anuales_bid_offer.loc[index,column]}\n")

#             else:
#                 print(f"Other Year {ano_activo}")
                
#         print(f"Ind: {ind}\n")
        ind+=1

            
# tasas_anuales_bid_offer

Tasa colocadora: bid, Tasa tomadora: offer

In [31]:
# tasas_anuales_bid_offer

In [32]:
# arbitraje_dict={}
# count=0
# for offer in tasas_anuales_bid_offer['offer']:
#     for bid in tasas_anuales_bid_offer['bid']:
#         if bid>offer:
#             print(f"Bid: {tasas_anuales_bid_offer[tasas_anuales_bid_offer['bid'] == bid].index[0]} {bid},\nOffer: {tasas_anuales_bid_offer[tasas_anuales_bid_offer['offer'] == offer].index[0]} {offer}\n")
#             arbitraje_dict.update({f"{tasas_anuales_bid_offer[tasas_anuales_bid_offer['bid'] == bid].index[0]}-{count}": (bid, (tasas_anuales_bid_offer[tasas_anuales_bid_offer['offer'] == offer].index[0], offer))})
#             count+=1

In [33]:
# arbitraje_dict

In [34]:
# arbitraje_df = pd.DataFrame(arbitraje_dict).T.sort_index()
# arbitraje_df.columns = ['bid','offer']
# arbitraje_df

# Websocket

In [35]:
instrument = tickers

In [36]:
prices = pd.DataFrame(columns=["activo", "bid", "offer", "last"])
prices.set_index('activo', inplace=True)

In [37]:
def tasas_futuros(df):
    
    #Final DataFrame
    tasas_anuales_bid_offer =pd.DataFrame(columns=['bid','offer'])


    #List variables
    month_list= ['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
    activo_tipo_list = ['DLR', 'GGAL','PAMP','YPFD']
    activo_ano_list = ['22','23']
    ano_list=[2022,2023]


    # Function variables> elijo el tipo de tasa que se va a calcular
    tipo='continua'
    period='dias'


    ## Itero con las columnas'bid' y 'offer' del dataframe final
    for column in tasas_anuales_bid_offer:
        ind=0
    #     print("\n",column,"\n")

        ## Itero y tomo cada dato de 'bid' y 'offer', se usan los datos de los precios de los futuros
        for data in df[column]:
    #         print(f"data {data}")

            ## Itero para saber a que ano pertenece el futuro
            for ano_activo in activo_ano_list:

                ## Corroboro si el ano esta en el indice del precio a traer, y seteo el ano correspondiente
                ## para usar en la formula que calcula los dias hasta el settlement
                if ano_activo in df[column].index[ind]:
                    year=ano_list[activo_ano_list.index(ano_activo)]

    #                 print(df[column].index[ind])

                    ## Corroboro el tipo de activo de donde viene la data, DLR,GGAL,PAMP o YPFD
                    for tipo_activo in activo_tipo_list:

                        if tipo_activo in df[column].index[ind]:

                            ## Establezco el mes correspondiente a la data
                            for mes in month_list:


                                if mes in df[column].index[ind].lower():
    #                                 print(f"Mes: {mes}")

                                    ## Teniendo el el precio del futuro,el ano y mes de settlement, y el tipo de activo 
                                    ## del que quiero calcular la tasa, puedo traer el valor del spot, calcular los dias
                                    ## hasta el settlement y calcular la tasa

                                    #dataframe
                                    index= df[column].index[ind]
                                    column= column

                                    #function
                                    spot= spot_df.iloc[-1][tipo_activo]
                                    future= data
                                    month = month_list.index(mes)+1


                                    #output
                                    tasas_anuales_bid_offer.loc[index,column] = round(tipo_tasa(spot=spot,
                                                                                          future=future,
                                                                                          t=days_until_last_business_day(year,month),
                                                                                          tipo=tipo,
                                                                                          period=period),6)
    #                                 print(f"Tipo Activo: {tipo_activo}")
    #                                 print(f"Spot: {spot}")
    #                                 print(f"Future: {future}")
    #                                 print(f"Year: {year}")
    #                                 print(f"Month count: {month}")
    #                                 print(f"Dias faltan: {days_until_last_business_day(year,month)}")
    #                                 print(f"Tipo: {tipo}")
    #                                 print(f"Periodo: {period}")
    #                                 print(f"Tasa: {tasas_anuales_bid_offer.loc[index,column]}\n")

    #             else:
    #                 print(f"Other Year {ano_activo}")

    #         print(f"Ind: {ind}\n")
            ind+=1


    return(tasas_anuales_bid_offer)

In [38]:
def market_data_handler(message):
    global prices
    print("Market Data Message Received: {0}".format(message))
    last = None if not message["marketData"]["LA"] else message["marketData"]["LA"]["price"]
    prices.loc[message["instrumentId"]['symbol']] = [
        message["marketData"]["BI"][0]["price"],
        message["marketData"]["OF"][0]["price"],
        last
    ]
    display(prices)
    display(tasas_futuros(prices))
    display(arbitraje_tasas(tasas_futuros(prices)))

In [39]:
def arbitraje_tasas(df):
    arbitraje_dict={}
    count=0
    for offer in df['offer']:
        for bid in df['bid']:
            if bid>offer:
#                 print(f"Bid: {df[df['bid'] == bid].index[0]} {bid},\nOffer: {df[df['offer'] == offer].index[0]} {offer}\n")
                arbitraje_dict.update({f"{df[df['bid'] == bid].index[0]}-{count}": (bid, (df[df['offer'] == offer].index[0], offer))})
                count+=1
    arbitraje_df = pd.DataFrame(arbitraje_dict).T.sort_index()
    arbitraje_df.columns = ['bid','offer']
    arbitraje_df
    return(arbitraje_df)

In [40]:
pyRofex.init_websocket_connection(market_data_handler=market_data_handler)

In [41]:
# Subscribes to receive market data messages
pyRofex.market_data_subscription(
    tickers=instrument,
    entries=[
        pyRofex.MarketDataEntry.BIDS,
        pyRofex.MarketDataEntry.OFFERS,
        pyRofex.MarketDataEntry.LAST]
)

In [42]:
# pyRofex.close_websocket_connection()

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232478, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/AGO22'}, 'marketData': {'BI': [{'price': 138.6, 'size': 20}], 'OF': [{'price': 139.09, 'size': 10}], 'LA': {'price': 138.96, 'size': 10, 'date': 1643133611896}}}

             bid   offer    last
activo
DLR/AGO22  138.6  139.09  138.96

                bid     offer
DLR/AGO22  0.471073  0.476981

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232480, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/ABR22'}, 'marketData': {'BI': [{'price': 118.85, 'size': 565}], 'OF': [{'price': 118.89, 'size': 50}], 'LA': {'price': 118.87, 'size': 3, 'date': 1643130704677}}}

              bid   offer    last
activo
DLR/AGO22  138.60  139.09  138.96
DLR/ABR22  118.85  118.89  118.87

                bid     offer
DLR/AGO22  0.471073  0.476981
DLR/ABR22  0.495558  0.496864

                  bid                  offer
DLR/ABR22-0  0.495558  (DLR/AGO22, 0.476981)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232481, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/FEB22'}, 'marketData': {'BI': [{'price': 108.68, 'size': 30}], 'OF': [{'price': 108.71, 'size': 2000}], 'LA': {'price': 108.68, 'size': 11, 'date': 1643133487719}}}

              bid   offer    last
activo
DLR/AGO22  138.60  139.09  138.96
DLR/ABR22  118.85  118.89  118.87
DLR/FEB22  108.68  108.71  108.68

                bid     offer
DLR/AGO22  0.471073  0.476981
DLR/ABR22  0.495558  0.496864
DLR/FEB22  0.409751  0.412714

                  bid                  offer
DLR/ABR22-0  0.495558  (DLR/AGO22, 0.476981)
DLR/ABR22-2  0.495558  (DLR/FEB22, 0.412714)
DLR/AGO22-1  0.471073  (DLR/FEB22, 0.412714)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232481, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/JUN22'}, 'marketData': {'BI': [{'price': 128.4, 'size': 2}], 'OF': [{'price': 128.98, 'size': 250}], 'LA': {'price': 128.99, 'size': 3, 'date': 1643133214722}}}

              bid   offer    last
activo
DLR/AGO22  138.60  139.09  138.96
DLR/ABR22  118.85  118.89  118.87
DLR/FEB22  108.68  108.71  108.68
DLR/JUN22  128.40  128.98  128.99

In [43]:
# arbitraje_tasas(tasas_futuros(prices))

                bid     offer
DLR/AGO22  0.471073  0.476981
DLR/ABR22  0.495558  0.496864
DLR/FEB22  0.409751  0.412714
DLR/JUN22   0.47944  0.489985

                  bid                  offer
DLR/ABR22-0  0.495558  (DLR/AGO22, 0.476981)
DLR/ABR22-3  0.495558  (DLR/FEB22, 0.412714)
DLR/ABR22-5  0.495558  (DLR/JUN22, 0.489985)
DLR/AGO22-2  0.471073  (DLR/FEB22, 0.412714)
DLR/JUN22-1   0.47944  (DLR/AGO22, 0.476981)
DLR/JUN22-4   0.47944  (DLR/FEB22, 0.412714)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232481, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/MAY22'}, 'marketData': {'BI': [{'price': 124.0, 'size': 100}], 'OF': [{'price': 124.05, 'size': 70}], 'LA': {'price': 123.95, 'size': 6, 'date': 1643133288617}}}

              bid   offer    last
activo
DLR/AGO22  138.60  139.09  138.96
DLR/ABR22  118.85  118.89  118.87
DLR/FEB22  108.68  108.71  108.68
DLR/JUN22  128.40  128.98  128.99
DLR/MAY22  124.00  124.05  123.95

                bid     offer
DLR/AGO22  0.471073  0.476981
DLR/ABR22  0.495558  0.496864
DLR/FEB22  0.409751  0.412714
DLR/JUN22   0.47944  0.489985
DLR/MAY22  0.492583  0.493751

                  bid                  offer
DLR/ABR22-0  0.495558  (DLR/AGO22, 0.476981)
DLR/ABR22-4  0.495558  (DLR/FEB22, 0.412714)
DLR/ABR22-7  0.495558  (DLR/JUN22, 0.489985)
DLR/ABR22-9  0.495558  (DLR/MAY22, 0.493751)
DLR/AGO22-3  0.471073  (DLR/FEB22, 0.412714)
DLR/JUN22-1   0.47944  (DLR/AGO22, 0.476981)
DLR/JUN22-5   0.47944  (DLR/FEB22, 0.412714)
DLR/MAY22-2  0.492583  (DLR/AGO22, 0.476981)
DLR/MAY22-6  0.492583  (DLR/FEB22, 0.412714)
DLR/MAY22-8  0.492583  (DLR/JUN22, 0.489985)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232481, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'YPFD/FEB22'}, 'marketData': {'BI': [{'price': 905.0, 'size': 22}], 'OF': [{'price': 905.25, 'size': 1}], 'LA': {'price': 905.0, 'size': 2, 'date': 1643135677203}}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-11  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-4   0.495558   (DLR/FEB22, 0.412714)
DLR/ABR22-7   0.495558   (DLR/JUN22, 0.489985)
DLR/ABR22-9   0.495558   (DLR/MAY22, 0.493751)
DLR/AGO22-10  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-3   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-12  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-13   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-5    0.47944   (DLR/FEB22, 0.412714)
DLR/MAY22-14  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-6   0.492583   (DLR/FEB22, 0.412714)
DLR/MAY22-8   0.492583   (DLR/JUN22, 0.489985)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232482, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'GGAL/FEB22'}, 'marketData': {'BI': None, 'OF': None, 'LA': None}}
Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232482, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/NOV22'}, 'marketData': {'BI': [{'price': 152.5, 'size': 79}], 'OF': [{'price': 153.0, 'size': 210}], 'LA': None}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-10  0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-12  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-18  0.495558   (DLR/NOV22, 0.449102)
DLR/ABR22-4   0.495558   (DLR/FEB22, 0.412714)
DLR/ABR22-8   0.495558   (DLR/JUN22, 0.489985)
DLR/AGO22-11  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-17  0.471073   (DLR/NOV22, 0.449102)
DLR/AGO22-3   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-13  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-14   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-19   0.47944   (DLR/NOV22, 0.449102)
DLR/JUN22-5    0.47944   (DLR/FEB22, 0.412714)
DLR/MAY22-15  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-20  0.492583   (DLR/NOV22, 0.449102)
DLR/MAY22-6   0.492583   (DLR/FEB22, 0.412714)
DLR/MAY22-9   0.492583   (DLR/JUN22, 0.489985)
DLR/NOV22-16  0.445236  (YPFD/FEB22, 0.221663)
DLR/NOV22-7   0.445236   (DLR/FEB22, 0.412714)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232482, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/OCT22'}, 'marketData': {'BI': [{'price': 147.7, 'size': 343}], 'OF': [{'price': 148.77, 'size': 5}], 'LA': {'price': 147.7, 'size': 7, 'date': 1643135590543}}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN
DLR/OCT22   147.70  148.77  147.70

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102
DLR/OCT22   0.451271  0.460714

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-11  0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-13  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-20  0.495558   (DLR/NOV22, 0.449102)
DLR/ABR22-25  0.495558   (DLR/OCT22, 0.460714)
DLR/ABR22-4   0.495558   (DLR/FEB22, 0.412714)
DLR/ABR22-9   0.495558   (DLR/JUN22, 0.489985)
DLR/AGO22-12  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-19  0.471073   (DLR/NOV22, 0.449102)
DLR/AGO22-24  0.471073   (DLR/OCT22, 0.460714)
DLR/AGO22-3   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-14  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-15   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-21   0.47944   (DLR/NOV22, 0.449102)
DLR/JUN22-26   0.47944   (DLR/OCT22, 0.460714)
DLR/JUN22-5    0.47944   (DLR/FEB22, 0.412714)
DLR/MAY22-10  0.492583   (DLR/JUN22, 0.489985)
DLR/MAY22-16  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-22  0.492583   (DLR/NOV22, 0.449102)
DLR/MAY22-27  0.492583   (DLR/OCT22, 0.460714)
DLR/MAY22-6   0.492583   (DLR/FEB22, 0.412714)
DLR/NOV22-17  0.445236  (YPFD/FEB22, 0.221663)
DLR/NOV22-7   0.445236   (DLR/FEB22, 0.412714)
DLR/OCT22-18  0.451271  (YPFD/FEB22, 0.221663)
DLR/OCT22-23  0.451271   (DLR/NOV22, 0.449102)
DLR/OCT22-8   0.451271   (DLR/FEB22, 0.412714)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232482, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/JUL22'}, 'marketData': {'BI': [{'price': 133.3, 'size': 200}], 'OF': [{'price': 133.7, 'size': 200}], 'LA': {'price': 130.0, 'size': 10.0, 'date': 1643115546426}}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN
DLR/OCT22   147.70  148.77  147.70
DLR/JUL22   133.30  133.70  130.00

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102
DLR/OCT22   0.451271  0.460714
DLR/JUL22   0.478176  0.484087

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-11  0.495558   (DLR/JUN22, 0.489985)
DLR/ABR22-13  0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-15  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-23  0.495558   (DLR/NOV22, 0.449102)
DLR/ABR22-29  0.495558   (DLR/OCT22, 0.460714)
DLR/ABR22-33  0.495558   (DLR/JUL22, 0.484087)
DLR/ABR22-5   0.495558   (DLR/FEB22, 0.412714)
DLR/AGO22-14  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-22  0.471073   (DLR/NOV22, 0.449102)
DLR/AGO22-28  0.471073   (DLR/OCT22, 0.460714)
DLR/AGO22-4   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-16  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUL22-10  0.478176   (DLR/FEB22, 0.412714)
DLR/JUL22-21  0.478176  (YPFD/FEB22, 0.221663)
DLR/JUL22-27  0.478176   (DLR/NOV22, 0.449102)
DLR/JUL22-3   0.478176   (DLR/AGO22, 0.476981)
DLR/JUL22-32  0.478176   (DLR/OCT22, 0.460714)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-17   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-24   0.47944   (DLR/NOV22, 0.449102)
DLR/JUN22-30   0.47944   (DLR/OCT22, 0.460714)
DLR/JUN22-6    0.47944   (DLR/FEB22, 0.412714)
DLR/MAY22-12  0.492583   (DLR/JUN22, 0.489985)
DLR/MAY22-18  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-25  0.492583   (DLR/NOV22, 0.449102)
DLR/MAY22-31  0.492583   (DLR/OCT22, 0.460714)
DLR/MAY22-34  0.492583   (DLR/JUL22, 0.484087)
DLR/MAY22-7   0.492583   (DLR/FEB22, 0.412714)
DLR/NOV22-19  0.445236  (YPFD/FEB22, 0.221663)
DLR/NOV22-8   0.445236   (DLR/FEB22, 0.412714)
DLR/OCT22-20  0.451271  (YPFD/FEB22, 0.221663)
DLR/OCT22-26  0.451271   (DLR/NOV22, 0.449102)
DLR/OCT22-9   0.451271   (DLR/FEB22, 0.412714)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232482, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/MAR22'}, 'marketData': {'BI': [{'price': 114.17, 'size': 6}], 'OF': [{'price': 114.71, 'size': 200}], 'LA': {'price': 114.3, 'size': 1, 'date': 1643139168737}}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN
DLR/OCT22   147.70  148.77  147.70
DLR/JUL22   133.30  133.70  130.00
DLR/MAR22   114.17  114.71  114.30

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102
DLR/OCT22   0.451271  0.460714
DLR/JUL22   0.478176  0.484087
DLR/MAR22   0.491062  0.517559

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-13  0.495558   (DLR/JUN22, 0.489985)
DLR/ABR22-16  0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-18  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-27  0.495558   (DLR/NOV22, 0.449102)
DLR/ABR22-34  0.495558   (DLR/OCT22, 0.460714)
DLR/ABR22-39  0.495558   (DLR/JUL22, 0.484087)
DLR/ABR22-6   0.495558   (DLR/FEB22, 0.412714)
DLR/AGO22-17  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-26  0.471073   (DLR/NOV22, 0.449102)
DLR/AGO22-33  0.471073   (DLR/OCT22, 0.460714)
DLR/AGO22-5   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-19  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUL22-11  0.478176   (DLR/FEB22, 0.412714)
DLR/JUL22-24  0.478176  (YPFD/FEB22, 0.221663)
DLR/JUL22-3   0.478176   (DLR/AGO22, 0.476981)
DLR/JUL22-31  0.478176   (DLR/NOV22, 0.449102)
DLR/JUL22-37  0.478176   (DLR/OCT22, 0.460714)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-20   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-28   0.47944   (DLR/NOV22, 0.449102)
DLR/JUN22-35   0.47944   (DLR/OCT22, 0.460714)
DLR/JUN22-7    0.47944   (DLR/FEB22, 0.412714)
DLR/MAR22-12  0.491062   (DLR/FEB22, 0.412714)
DLR/MAR22-15  0.491062   (DLR/JUN22, 0.489985)
DLR/MAR22-25  0.491062  (YPFD/FEB22, 0.221663)
DLR/MAR22-32  0.491062   (DLR/NOV22, 0.449102)
DLR/MAR22-38  0.491062   (DLR/OCT22, 0.460714)
DLR/MAR22-4   0.491062   (DLR/AGO22, 0.476981)
DLR/MAR22-41  0.491062   (DLR/JUL22, 0.484087)
DLR/MAY22-14  0.492583   (DLR/JUN22, 0.489985)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-21  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-29  0.492583   (DLR/NOV22, 0.449102)
DLR/MAY22-36  0.492583   (DLR/OCT22, 0.460714)
DLR/MAY22-40  0.492583   (DLR/JUL22, 0.484087)
DLR/MAY22-8   0.492583   (DLR/FEB22, 0.412714)
DLR/NOV22-22  0.445236  (YPFD/FEB22, 0.221663)
DLR/NOV22-9   0.445236   (DLR/FEB22, 0.412714)
DLR/OCT22-10  0.451271   (DLR/FEB22, 0.412714)
DLR/OCT22-23  0.451271  (YPFD/FEB22, 0.221663)
DLR/OCT22-30  0.451271   (DLR/NOV22, 0.449102)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232483, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/ENE22'}, 'marketData': {'BI': [{'price': 105.14, 'size': 3534}], 'OF': [], 'LA': {'price': 106.41, 'size': 999, 'date': 1643134368403}}}
Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232483, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'DLR/SEP22'}, 'marketData': {'BI': [{'price': 143.0, 'size': 25}], 'OF': [{'price': 144.0, 'size': 25}], 'LA': None}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN
DLR/OCT22   147.70  148.77  147.70
DLR/JUL22   133.30  133.70  130.00
DLR/MAR22   114.17  114.71  114.30
DLR/SEP22   143.00  144.00     NaN

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102
DLR/OCT22   0.451271  0.460714
DLR/JUL22   0.478176  0.484087
DLR/MAR22   0.491062  0.517559
DLR/SEP22   0.460085  0.470341

                   bid                   offer
DLR/ABR22-0   0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-14  0.495558   (DLR/JUN22, 0.489985)
DLR/ABR22-17  0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-19  0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-29  0.495558   (DLR/NOV22, 0.449102)
DLR/ABR22-37  0.495558   (DLR/OCT22, 0.460714)
DLR/ABR22-42  0.495558   (DLR/JUL22, 0.484087)
DLR/ABR22-46  0.495558   (DLR/SEP22, 0.470341)
DLR/ABR22-6   0.495558   (DLR/FEB22, 0.412714)
DLR/AGO22-18  0.471073  (YPFD/FEB22, 0.221663)
DLR/AGO22-28  0.471073   (DLR/NOV22, 0.449102)
DLR/AGO22-36  0.471073   (DLR/OCT22, 0.460714)
DLR/AGO22-45  0.471073   (DLR/SEP22, 0.470341)
DLR/AGO22-5   0.471073   (DLR/FEB22, 0.412714)
DLR/FEB22-20  0.409751  (YPFD/FEB22, 0.221663)
DLR/JUL22-11  0.478176   (DLR/FEB22, 0.412714)
DLR/JUL22-25  0.478176  (YPFD/FEB22, 0.221663)
DLR/JUL22-3   0.478176   (DLR/AGO22, 0.476981)
DLR/JUL22-33  0.478176   (DLR/NOV22, 0.449102)
DLR/JUL22-40  0.478176   (DLR/OCT22, 0.460714)
DLR/JUL22-49  0.478176   (DLR/SEP22, 0.470341)
DLR/JUN22-1    0.47944   (DLR/AGO22, 0.476981)
DLR/JUN22-21   0.47944  (YPFD/FEB22, 0.221663)
DLR/JUN22-30   0.47944   (DLR/NOV22, 0.449102)
DLR/JUN22-38   0.47944   (DLR/OCT22, 0.460714)
DLR/JUN22-47   0.47944   (DLR/SEP22, 0.470341)
DLR/JUN22-7    0.47944   (DLR/FEB22, 0.412714)
DLR/MAR22-12  0.491062   (DLR/FEB22, 0.412714)
DLR/MAR22-16  0.491062   (DLR/JUN22, 0.489985)
DLR/MAR22-26  0.491062  (YPFD/FEB22, 0.221663)
DLR/MAR22-34  0.491062   (DLR/NOV22, 0.449102)
DLR/MAR22-4   0.491062   (DLR/AGO22, 0.476981)
DLR/MAR22-41  0.491062   (DLR/OCT22, 0.460714)
DLR/MAR22-44  0.491062   (DLR/JUL22, 0.484087)
DLR/MAR22-50  0.491062   (DLR/SEP22, 0.470341)
DLR/MAY22-15  0.492583   (DLR/JUN22, 0.489985)
DLR/MAY22-2   0.492583   (DLR/AGO22, 0.476981)
DLR/MAY22-22  0.492583  (YPFD/FEB22, 0.221663)
DLR/MAY22-31  0.492583   (DLR/NOV22, 0.449102)
DLR/MAY22-39  0.492583   (DLR/OCT22, 0.460714)
DLR/MAY22-43  0.492583   (DLR/JUL22, 0.484087)
DLR/MAY22-48  0.492583   (DLR/SEP22, 0.470341)
DLR/MAY22-8   0.492583   (DLR/FEB22, 0.412714)
DLR/NOV22-23  0.445236  (YPFD/FEB22, 0.221663)
DLR/NOV22-9   0.445236   (DLR/FEB22, 0.412714)
DLR/OCT22-10  0.451271   (DLR/FEB22, 0.412714)
DLR/OCT22-24  0.451271  (YPFD/FEB22, 0.221663)
DLR/OCT22-32  0.451271   (DLR/NOV22, 0.449102)
DLR/SEP22-13  0.460085   (DLR/FEB22, 0.412714)
DLR/SEP22-27  0.460085  (YPFD/FEB22, 0.221663)
DLR/SEP22-35  0.460085   (DLR/NOV22, 0.449102)

Market Data Message Received: {'type': 'Md', 'timestamp': 1643140232483, 'instrumentId': {'marketId': 'ROFX', 'symbol': 'PAMP/FEB22'}, 'marketData': {'BI': [{'price': 175.45, 'size': 5}], 'OF': [{'price': 176.0, 'size': 5}], 'LA': {'price': 175.5, 'size': 3, 'date': 1643138839611}}}

               bid   offer    last
activo
DLR/AGO22   138.60  139.09  138.96
DLR/ABR22   118.85  118.89  118.87
DLR/FEB22   108.68  108.71  108.68
DLR/JUN22   128.40  128.98  128.99
DLR/MAY22   124.00  124.05  123.95
YPFD/FEB22  905.00  905.25  905.00
DLR/NOV22   152.50  153.00     NaN
DLR/OCT22   147.70  148.77  147.70
DLR/JUL22   133.30  133.70  130.00
DLR/MAR22   114.17  114.71  114.30
DLR/SEP22   143.00  144.00     NaN
PAMP/FEB22  175.45  176.00  175.50

                 bid     offer
DLR/AGO22   0.471073  0.476981
DLR/ABR22   0.495558  0.496864
DLR/FEB22   0.409751  0.412714
DLR/JUN22    0.47944  0.489985
DLR/MAY22   0.492583  0.493751
YPFD/FEB22  0.218698  0.221663
DLR/NOV22   0.445236  0.449102
DLR/OCT22   0.451271  0.460714
DLR/JUL22   0.478176  0.484087
DLR/MAR22   0.491062  0.517559
DLR/SEP22   0.460085  0.470341
PAMP/FEB22  0.119983  0.153583

                    bid                   offer
DLR/ABR22-0    0.495558   (DLR/AGO22, 0.476981)
DLR/ABR22-14   0.495558   (DLR/JUN22, 0.489985)
DLR/ABR22-17   0.495558   (DLR/MAY22, 0.493751)
DLR/ABR22-19   0.495558  (YPFD/FEB22, 0.221663)
DLR/ABR22-29   0.495558   (DLR/NOV22, 0.449102)
...                 ...                     ...
DLR/SEP22-13   0.460085   (DLR/FEB22, 0.412714)
DLR/SEP22-27   0.460085  (YPFD/FEB22, 0.221663)
DLR/SEP22-35   0.460085   (DLR/NOV22, 0.449102)
DLR/SEP22-61   0.460085  (PAMP/FEB22, 0.153583)
YPFD/FEB22-56  0.218698  (PAMP/FEB22, 0.153583)

[62 rows x 2 columns]